<div class="wrapper">
  <div class="logo" (click)="navigate('/')">
    <app-logo></app-logo>
  </div>
  <div class="buttons-wrapper">
    <app-button
      [type]="buttonTypes.PRIMARY"
      [colorTheme]="colorThemes.PRIMARY_ACCENT"
      title="Home"
      (btnClicked)="navigate('/')"
    ></app-button>
    <app-button
      *ngIf="!(jwtToken$ | async)"
      [type]="buttonTypes.PRIMARY"
      [colorTheme]="colorThemes.PRIMARY_ACCENT"
      title="Sign-in"
      (btnClicked)="navigate('/signin')"
    ></app-button>
    <app-button
      [type]="buttonTypes.PRIMARY"
      [colorTheme]="colorThemes.PRIMARY_ACCENT"
      title="About"
      (btnClicked)="navigate('/about')"
    ></app-button>
    <app-button
      [type]="buttonTypes.PRIMARY"
      [colorTheme]="colorThemes.PRIMARY_ACCENT"
      title="Contact Us"
      (btnClicked)="navigate('/contact')"
    ></app-button>
    <app-button
      *ngIf="jwtToken$ | async"
      [type]="buttonTypes.PRIMARY"
      [colorTheme]="colorThemes.PRIMARY_ACCENT"
      [title]="(user$ | async)?.firstName"
    ></app-button>
    <app-button
      *ngIf="jwtToken$ | async"
      [type]="buttonTypes.PRIMARY"
      [colorTheme]="colorThemes.PRIMARY_ACCENT"
      title="Sign Out"
      (btnClicked)="signOutClicked()"
    ></app-button>
  </div>
</div>
